.header_inner{
  margin:0 auto;
  border-bottom:2px solid rgba(0,255,0,0.5) ;
  

}

.title{
  color:green;
  font-size:30px;
  text-align:center;
}

.contact-title{
  color:green;
  font-size:25px;
  text-align:center;

}

